@using Data;
@model MainPage;
@{
    ViewData["Title"] = "GetChats";
    Layout = "~/Views/Shared/MasterPage.cshtml";
    int i = 0;
    string ID = "gjifodsa";
}

<div class="ChatWrapper">
    <div class="Chats">
        <div class="SearchBar">
            <form class="Search">
                <i class="ri-search-line"></i>
                <input type="text" class="Request" placeholder="Search For A Chat">
            </form>
        </div>

        @foreach (Chat chat in Model.Chats)
        {
            <div class="SingleChat" data-url="@Url.Action("GetChats", "User", new { UserID = "gjifodsa", ChatID = chat.ID, IsGroup = false })">
                <div class="ChatIMG">
                    <img src="@chat.ChatIMG" class="ChatImage">
                </div>
                <div class="ChatInfo">
                    <div class="ChatName">
                        <h1 class="ChatNameText">@chat.ChatName</h1>
                    </div>
                    <div class="LastMessage">
                        <p>@Model.Messages[i].CipherTextBase64</p>
                    </div>
                </div>
            </div>
            i++;
        }

        @foreach (GroupChat groupChat in Model.GroupChats)
        {
            <div class="SingleChat">
                <div class="ChatIMG">
                    <img src="images/Screenshot 2025-06-24 225303.png" class="ChatImage">
                </div>
                <div class="ChatInfo">
                    <div class="ChatName">
                        <h1 class="ChatNameText">Hello</h1>
                    </div>
                    <div class="LastMessage">
                        <p>@Model.Messages[i].CipherTextBase64</p>
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
</div>

<div class="Messages">
    @if (Model.Convo.Count != 0)
    {
        <div class="Convo">
            @foreach (Message message in Model.Convo)
            {
                if (message.SenderID.Equals(ID))
                {
                    <div class="SenderMessage">
                        <p>@message.CipherTextBase64</p>
                    </div>
                }
                else
                {
                    <div class="RecieverMessage">
                        <p>@message.CipherTextBase64</p>
                    </div>
                }
            }
        </div>

        <form class="SendMessage" action="https://localhost:7159/User/SendMessage" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken
            <div class="MessageBar">
                <button type="submit" class="HiddenSubmit"></button>
                <i class="ri-arrow-left-double-fill" id="SendButton"></i>
                <input type="text" name="Text" placeholder="Send A Message..." class="Request">
                <i class="ri-add-circle-line"></i>
                <i class="ri-mic-line"></i>
            </div>
        </form>
    }
</div>
